<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog!</title>
        {% endif %}
    </head>


        <div class="container">

		<table  style="background-color:blue;" border = 2 cellpadding="5">
		<tr>
			<td align="center">
				{{chart1_plot}}
			</td>
		</tr>
            <tr><td align="center">
			<form action="{{ url_for('index')}}">
				<button class="btn btn-default" type="submit" name="submit" style="width: 100%; height: 30px;" value="Back">Back</button>
				<link rel="stylesheet" href="/static/style.css" type="text/css">
			</form>


		</td>
		</tr>
	</table>


</div>

    </body>
</html>